Source: oxenmq
Priority: optional
Maintainer: Jason Rhinelander <jason@imaginary.ca>
Build-Depends: debhelper-compat (= 11), cmake (>= 3.5), g++-8, pkg-config, libzmq3-dev (>= 4.3), libsodium-dev, libpgm-dev
Standards-Version: 4.4.1
Section: libs
Homepage: https://github.com/oxen-io/oxen-mq

Package: liboxenmq-dev
Section: libdevel
Architecture: any
Depends: liboxenmq1.2.10 (= ${binary:Version}), ${misc:Depends}, libzmq3-dev (>= 4.3)
Description: zeromq-based Oxen message passing library (headers)
 This C++17 library contains an abstraction layer around ZeroMQ to support
 integration with Oxen authentication, RPC, and message passing.  It is
 designed to be usable as the underlying communication mechanism of SN-to-SN
 communication ("quorumnet"), the RPC interface used by wallets and local
 daemon commands, communication channels between oxend and auxiliary services
 (storage server, lokinet), and also provides a local multithreaded job
 scheduling within a process.
 .
 This package contains the library headers and other development files needed
 to build software using oxenmq.

Package: liboxenmq1.2.10
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: zeromq-based Oxen message passing library
 This C++17 library contains an abstraction layer around ZeroMQ to support
 integration with Oxen authentication, RPC, and message passing.  It is
 designed to be usable as the underlying communication mechanism of SN-to-SN
 communication ("quorumnet"), the RPC interface used by wallets and local
 daemon commands, communication channels between oxend and auxiliary services
 (storage server, lokinet), and also provides a local multithreaded job
 scheduling within a process.
 .
 This package contains the library file needed by software built using oxenmq.

Package: liblokimq-dev
Section: libdevel
Architecture: any
Depends: liboxenmq-dev, ${misc:Depends}
Description: transitional package
 This is a transitional package that contains compatibility headers and
 pkg-config data for applications still relying on the old lokimq API
 namespace and package name.
 .
 It can be safely removed.
